main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
    background-color: #363A3D;
    color: white;
}

#content {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 80px;
}

#popup-container {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#popup {
    width: 500px;
    height: 300px;
    color: white;
    box-shadow: 1px 2px 33px -14px rgb(0, 0, 0);
    border-radius: 5px;
    background-color: #363A3D;
    display: flex;
    justify-content: center;
    align-items: center;
}
#border-blur {
    position: absolute;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 80%;
    background-color: black;
}

#login {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h4 {
    font-weight: bold;
}

input {
    margin: 15px;
    width: 200px;
    height: 35px;
    display: flex;
    justify-content: center;
}

.button {
    text-decoration: none;
    color: white;
    border-radius: 5px;
    background-color: #2a4d5e;
    box-shadow: 1px 2px 33px -14px rgb(0, 0, 0);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.button:hover {
    background-color: #3c667b;
    box-shadow: 1px 2px 33px -14px rgb(72, 72, 72);
    cursor: pointer;
}

.shop {
    background-color: #fae0c1;
    color: black;
}

.shop:hover {
    background-color: #fcd9af;
}

.download, .shop {
    width: 300px;
    height: 100px;
}

.login, .cancel {
    width: 80px;
    height: 40px;
}

.signin {
    position: absolute;
    right: 5%;
    top: 5%;
    width: 100px;
    height: 60px;
}

.cancel {
    position: absolute;
    right: 5%;
    top: 5%;
    background-color: brown;
}

.image {
    position: absolute;
    bottom: 0;
    width: 40%;
}

.left {
    left: 20px;
}

.right {
    right: 20px;
}