<main>
  <h1>Undercover</h1>
  <section id="content">
    <a class="download button" href="http://localhost:5000/src/download/undercover.zip">Download Undercover
      !</a>
    <span class="shop button" (click)="goToShop()">
      Visit our shop !</span>
  </section>
  <div id="bottom-section"></div>
</main>

<span class="signin button" (click)="openPopup()">Sign In</span>

<div id="popup-container" *ngIf="isPopupOpen">
  <div id="popup">
    <div id="login" *ngIf='!isLogin'>
      <h4>Sign In</h4>
      <div class="form">
        <div class="form-group">
          <input class="form-control" type="text" #username name="username" placeholder="Username" />
        </div>
        <div class="form-group">
          <input class="form-control" type="password" #password name="password" placeholder="Password" />
        </div>
      </div>
      <span class="login button" (click)="onSubmit(username.value, password.value)">Login</span>
      <span class="cancel button" (click)="closePopup()">
        <span class="material-icons">
          cancel
        </span>
      </span>
    </div>
    <div *ngIf='isLogin'>
      <p>Veuillez Patientez ...</p>
    </div>
  </div>
</div>
<span id="border-blur" *ngIf="isPopupOpen">
</span>

<img class="image left" src="assets/images/detective.png">
<img class="image right" src="../../../assets/images/impostor.png">