/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

* {   
    font-family:Arial, Helvetica, sans-serif!important;
}